###> PHPStorm ###
.idea
###< PHPStorm ###

###> Dev Env ###
.env.local
.env.*.local
docker-compose.yaml
.docker-cache
/vendor/
/apps/*/*/var/
###< Dev Env ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###
