###> PHPStorm ###
.idea

###> Dev Env ###
.env.local
docker-compose.yaml
.docker-cache

###> Symfony ###
api/config/secrets/prod/prod.decrypt.private.php
api/public/bundles/
api/vendor/
api/var/*

###> phpunit/phpunit ###
api/phpunit.xml
api/.phpunit.result.cache
###< phpunit/phpunit ###
