version: '3'

services:

  postgres:
    container_name: postgres-${PROJECT}
    image: ${PROJECT}-postgres:${DB_VERSION}
    build:
      context: ./.docker/postgres/${DB_VERSION}
    ports:
      - ${DB_PORT_EXTERNAL}
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ${PWD}:/rentabike
    working_dir: /rentabike
    networks:
      - "docker-rentabike"

  backoffice-backend:
    env_file:
        - .env
        - .env.local
    build:
      context: .docker/php/${PHP_VERSION}
      args:
        DOCKER_USER: <DOCKER_USER>
        DOCKER_USER_ID: <DOCKER_USER_ID>
    container_name: backoffice-backend-${PROJECT}
    image: ${PROJECT}-backoffice-backend:${PHP_VERSION}
    ports:
      - "${BACKOFFICE_BACKEND_SERVER_PORT_EXTERNAL}:8000"
      - "${BACKOFFICE_BACKEND_XDEBUG_PORT_EXTERNAL}:9003"
    depends_on:
      - postgres
    restart: "${RESTART_POLICIES}"
    environment:
        COMPOSER_CACHE_DIR: /srv/cache/composer-cache
        DB_USER: ${DB_USER}
        DB_PASSWORD: ${DB_PASSWORD}
        DB_VERSION: ${DB_VERSION}
        DB_DRIVER: ${DB_DRIVER}
        SSH_AUTH_SOCK: /ssh-agent
        TZ: ${TIMEZONE}
        XDEBUG_SESSION: PHPSTORM
    volumes:
        - ${PWD}:/rentabike
        - $SSH_AUTH_SOCK:/ssh-agent
        - cache:/srv/cache
    working_dir: /rentabike/apps/backoffice/backend
    user: "<DOCKER_USER>"
    command: symfony server:start --dir=/rentabike/apps/backoffice/backend/public --port=8000 --force-php-discovery
    networks:
        - "docker-rentabike"

  rentabike-backend:
    env_file:
        - .env
        - .env.local
    build:
      context: .docker/php/${PHP_VERSION}
      args:
        DOCKER_USER: <DOCKER_USER>
        DOCKER_USER_ID: <DOCKER_USER_ID>
    container_name: rentabike-backend-${PROJECT}
    image: ${PROJECT}-rentabike-backend:${PHP_VERSION}
    ports:
      - "${RENTABIKE_BACKEND_SERVER_PORT_EXTERNAL}:8000"
      - "${RENTABIKE_BACKEND_XDEBUG_PORT_EXTERNAL}:9003"
    depends_on:
      - postgres
    restart: "${RESTART_POLICIES}"
    environment:
        COMPOSER_CACHE_DIR: /srv/cache/composer-cache
        DB_USER: ${DB_USER}
        DB_PASSWORD: ${DB_PASSWORD}
        DB_VERSION: ${DB_VERSION}
        DB_DRIVER: ${DB_DRIVER}
        SSH_AUTH_SOCK: /ssh-agent
        TZ: ${TIMEZONE}
        XDEBUG_SESSION: PHPSTORM
    volumes:
        - ${PWD}:/rentabike
        - $SSH_AUTH_SOCK:/ssh-agent
        - cache:/srv/cache
    working_dir: /rentabike/apps/rentabike/backend
    user: "<DOCKER_USER>"
    command: symfony server:start --dir=/rentabike/apps/rentabike/backend/public --port=8000 --force-php-discovery
    networks:
        - "docker-rentabike"

networks:
  docker-rentabike:
    driver: bridge

volumes:
  cache:
    external: true
